{% extends "bootstrap/base.html" %}

{% block title %}Monitoring{% endblock %}

{% block body %}
    <h1>Status</h1>
    <table class="table">
    <thead><tr>
        <th>Name</th>
        <th>Status</th>
        <th>Last update</th>
    </tr></thead>
    <tbody>
    {% for service in services %}
        <tr>
            <td>{{ service.name }}</td>
            {% if service.ok %}
            <td style="background-color: green">
            {% else %}
            <td style="background-color: red">
            {% endif %}
                {{ service.status }}
            </td>
            {% if service.fresh %}
            <td style="background-color: green">
            {% else %}
            <td style="background-color: red">
            {% endif %}
                {{ service.last_update }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
